<nav class="sidebar-nav open">
                <ul class="nav">
                    <!--li class="nav-item">
                        <a class="nav-link" href="main.html"><i class="icon-speedometer"></i> หน้าหลัก</a>
                    </li-->
					<li class="nav-item">
                        <a class="nav-link" href="farm-Search.html"><i class="icon-calculator"></i> เกษตรกร-ฟาร์ม</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="cattle-registry-search.html"><i class="icon-calculator"></i> ทะเบียนโค</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="survey_menu.html"><i class="icon-calculator"></i> การสำรวจโค</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="psudo_breeding.html"><i class="icon-calculator"></i> การผสมเทียม</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="veterinary.html"><i class="icon-calculator"></i> การบริการสัตวแพทย์</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="milk_receipt.html"><i class="icon-calculator"></i> ใบรับน้ำนมดิบ</a>
                    </li>
					<!-- <li class="nav-item">
                        <a class="nav-link" href="cow_milk.html"><i class="icon-calculator"></i> ปริมาณน้ำนมโคแต่ละตัว</a>
                    </li> -->
					<li class="nav-item">
                        <a class="nav-link" href="milk_quality.html"><i class="icon-calculator"></i> ใบคุณภาพน้ำนมดิบ</a>
                    </li>
					<!--li class="nav-item">
                        <a class="nav-link" href="charge.html"><i class="icon-calculator"></i> รายได้-ค่าใช้จ่าย</a>
                    </li-->
            <li class="nav-item">
                        <a class="nav-link" href="profile.html"><i class="icon-calculator"></i> ข้อมูลส่วนตัว</a>
                    </li>
              <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="icon-calculator"></i> ออกจากระบบ</a>
                    </li>

                    <!-- end new menu -->


<!--
                    <li class="nav-item">
                        <a class="nav-link" href="milk-quantity.html"><i class="icon-calculator"></i> ปริมาณน้ำนม</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cattle.html"><i class="icon-calculator"></i> จัดการโค</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="medical.html"><i class="icon-calculator"></i> การรักษา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="expense.html"><i class="icon-calculator"></i> ค่าใช้จ่าย</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html"><i class="icon-calculator"></i> ข้อมูลส่วนตัว</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="icon-calculator"></i> ออกจากระบบ</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="milk-quantity.html"><i class="icon-calculator"></i> ปริมาณน้ำนมโคแต่ละตัว</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="milk-quantity.html"><i class="icon-calculator"></i> ใบคุณภาพน้ำนมดิบ</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="milk-quantity.html"><i class="icon-calculator"></i> รายได้-ค่าใช้จ่าย</a>
                    </li>
-->

                </ul>
            </nav>

<script type="text/javascript">
/*
var profileImage=window.localStorage.getItem("ProfileImageUrl");
if(profileImage!=null){
      $("#profileImage").attr("src", profileImage);
}
var WK_CTR = window.localStorage.getItem("WK_CTR");
var role = window.localStorage.getItem("role");
var username = window.localStorage.getItem("username");

$("#PROFILE_WK_CTR").html(WK_CTR);
$("#PROFILE_ROLE").html(role);
$("#PROFILE_USERNAME").html(username);

function refreshFilter(){

      var ZC_OPEN = window.localStorage.getItem("ZC_OPEN");
      if(ZC_OPEN==null){
            ZC_OPEN=1;
            window.localStorage.setItem("ZC_OPEN",1);
            $("#ZC_OPEN").prop("checked", true);
            $(".ZC_OPEN").fadeIn();
      }else if(ZC_OPEN==1){
            $("#ZC_OPEN").prop("checked", true);
            $(".ZC_OPEN").fadeIn();
      }else if(ZC_OPEN==0){
            $("#ZC_OPEN").prop("checked", false);
            $(".ZC_OPEN").fadeOut();
      }

      var ZC_CLOSE = window.localStorage.getItem("ZC_CLOSE");
      if(ZC_CLOSE==null){
            ZC_CLOSE=1;
            window.localStorage.setItem("ZC_CLOSE",1);
            $("#ZC_CLOSE").prop("checked", true);
            $(".ZC_CLOSE").fadeIn();
      }else if(ZC_CLOSE==1){
            $("#ZC_CLOSE").prop("checked", true);
            $(".ZC_CLOSE").fadeIn();
      }else if(ZC_CLOSE==0){
            $("#ZC_CLOSE").prop("checked", false);
            $(".ZC_CLOSE").fadeOut();
      }

      var ZC01 = window.localStorage.getItem("ZC01");
      if(ZC01==null){
            ZC01=1;
            window.localStorage.setItem("ZC01",1);
            $("#ZC01").prop("checked", true);
            if(ZC_OPEN==1){
                  $(".ZC01 .ZC_OPEN").fadeIn();
            }
            if(ZC_CLOSE==1){
                  $(".ZC01 .ZC_CLOSE").fadeIn();
            }
      }else if(ZC01==1){
            $("#ZC01").prop("checked", true);
            if(ZC_OPEN==1){
                  $(".ZC01 .ZC_OPEN").fadeIn();
            }
            if(ZC_CLOSE==1){
                  $(".ZC01 .ZC_CLOSE").fadeIn();
            }
      }else if(ZC01==0){
            $("#ZC01").prop("checked", false);
            $(".ZC01").fadeOut();
      }

      var ZC02 = window.localStorage.getItem("ZC02");
      if(ZC02==null){
            ZC02=1;
            window.localStorage.setItem("ZC02",1);
            $("#ZC02").prop("checked", true);
            if(ZC_OPEN==1){
                  $(".ZC02 .ZC_OPEN").fadeIn();
            }
            if(ZC_CLOSE==1){
                  $(".ZC02 .ZC_CLOSE").fadeIn();
            }
      }else if(ZC02==1){
            $("#ZC02").prop("checked", true);
            if(ZC_OPEN==1){
                  $(".ZC02 .ZC_OPEN").fadeIn();
            }
            if(ZC_CLOSE==1){
                  $(".ZC02 .ZC_CLOSE").fadeIn();
            }
      }else if(ZC02==0){
            $("#ZC02").prop("checked", false);
            $(".ZC02").fadeOut();
      }


      var ZC03 = window.localStorage.getItem("ZC03");
      if(ZC03==null){
            ZC03=1;
            window.localStorage.setItem("ZC03",1);
            $("#ZC03").prop("checked", true);
            if(ZC_OPEN==1){
                  $(".ZC03 .ZC_OPEN").fadeIn();
            }
            if(ZC_CLOSE==1){
                  $(".ZC03 .ZC_CLOSE").fadeIn();
            }
      }else if(ZC03==1){
            $("#ZC03").prop("checked", true);


            if(ZC_OPEN==1){
                  $(".ZC03 .ZC_OPEN").fadeIn();
            }
            if(ZC_CLOSE==1){
                  $(".ZC03 .ZC_CLOSE").fadeIn();
            }
      }else if(ZC03==0){
            $("#ZC03").prop("checked", false);
            $(".ZC03").fadeOut();
      }

      var ZC04 = window.localStorage.getItem("ZC04");
      if(ZC04==null){
            ZC04=1;
            window.localStorage.setItem("ZC04",1);
            $("#ZC04").prop("checked", true);
            if(ZC_OPEN==1){
                  $(".ZC04 .ZC_OPEN").fadeIn();
            }
            if(ZC_CLOSE==1){
                  $(".ZC04 .ZC_CLOSE").fadeIn();
            }
      }else if(ZC04==1){
            $("#ZC04").prop("checked", true);
            if(ZC_OPEN==1){
                  $(".ZC04 .ZC_OPEN").fadeIn();
            }
            if(ZC_CLOSE==1){
                  $(".ZC04 .ZC_CLOSE").fadeIn();
            }
      }else if(ZC04==0){
            $("#ZC04").prop("checked", false);
            $(".ZC04").fadeOut();
      }

      var ZC09 = window.localStorage.getItem("ZC09");
      if(ZC09==null){
            ZC09=1;
            window.localStorage.setItem("ZC09",1);
            $("#ZC09").prop("checked", true);
            if(ZC_OPEN==1){
                  $(".ZC09 .ZC_OPEN").fadeIn();
            }
            if(ZC_CLOSE==1){
                  $(".ZC09 .ZC_CLOSE").fadeIn();
            }
      }else if(ZC09==1){
            $("#ZC09").prop("checked", true);
            if(ZC_OPEN==1){
                  $(".ZC09 .ZC_OPEN").fadeIn();
            }
            if(ZC_CLOSE==1){
                  $(".ZC09 .ZC_CLOSE").fadeIn();
            }
      }else if(ZC09==0){
            $("#ZC09").prop("checked", false);
            $(".ZC09").fadeOut();
      }

      var orderTypeCount = window.localStorage.getItem("orderTypeCount");
      if(orderTypeCount!=null){
            orderTypeCount = orderTypeCount.split(",");
            $("#orderType1Count").html(" ("+orderTypeCount[0]+")");
            $("#orderType2Count").html(" ("+orderTypeCount[1]+")");
            $("#orderType3Count").html(" ("+orderTypeCount[2]+")");
            $("#orderType4Count").html(" ("+orderTypeCount[3]+")");
            $("#orderType9Count").html(" ("+orderTypeCount[8]+")");
            $("#orderType10Count").html(" ("+orderTypeCount[9]+")");
            $("#orderType11Count").html(" ("+orderTypeCount[10]+")");
            console.log(orderTypeCount);
      }

}

function saveFilter(ZC){
      if($('#'+ZC).is(':checked') ){
            window.localStorage.setItem(ZC,1);
      }else{
            window.localStorage.setItem(ZC,0);
      }
      refreshFilter();
}

refreshFilter();*/
</script>
